# build output
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
*.log

# editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json

# playwright
test-results/
playwright-report/
